* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
    font-family: 'Roboto', sans-serif;
    background-color: #171A1F; 
    color: white; 
}

.full{
	width: 100%;
}

.medium{
	width: 50%;
}

.youtube{
	border: none;
}

.emoji{
	height: 25px;
	width: 25px;
}

.textbox{
	background-color: #1B1E23;
	font-size: 2vw;
	width: 100%;
	color: white;
	padding: 1%;
	border: none;
	outline: none;
	margin-bottom: 1%;
	border-radius: 4px;
}

.hr{
	margin-top: 1%;
	border: 3px solid white;
	border-radius: 3px;
	background-color: white;
	margin-bottom: 1%;
}

.button {
  background-color: #1B1E23;
  border: none;
  color: white;
  padding: 2.8%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  outline: none;
  min-width: 25%;
  margin-bottom: 1%;
  border-radius: 4px;
}

.button:hover{
	background-color: #171A1F;
}

#overlaySettings {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 73274294792744448979878978798769420;
  cursor: pointer;
  user-select: none;
}

div.overlayDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
	box-sizing: border-box;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
	z-index: 7327429479274444897987897879876942069;
	background-color: #333;
}

.settings {
  display: inline-block;
  border-radius: 4px;
  background-color: #333;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 2vw;
  padding: 20px;
  width: 90%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.settings span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.settings:hover span {
  padding-right: 25px;
}

.settings:hover span:after {
  opacity: 1;
  right: 0;
}

div.containerList{
	position: absolute;
	top: 0%;
	left: 85%;
	width: 15%;
	height: 100%;
	background-color: #1B1E23;
}

/* For our Upclose images / zoomed in images */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 73274294792744448979878978798769;
  cursor: pointer;
  user-select: none;
}

.tab {
  float: left;
  background-color: #171A1F;
  width: 30%;
  height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 3%;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.5vw;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #333;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #333;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #333;
  width: 70%;
  border-left: none;
  height: 100%;
}

img.overlayImage{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 75%;
    max-height: 75%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#centeredOverlay{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
form { 
    background: none; 
    padding: 5px; 
    position: fixed; 
    bottom: 0;
    width: 85%; 
    z-index: 1000;
    display: inline-block;
}
img.link{
    max-width: 25%;
    max-height: 25%;
}
form input {  
    padding: 6px; 
    width: 85%; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
    outline: none; 
    display: inline-block;
    border: none; 
    font-family: 32px 'Roboto', sans-serif;
    background-color: #1B1E23; 
    color: white; 
}

a{
    color: #00b0f4;
    text-decoration: none;
}

.exit{
	background-color: red;
	color: white;
}


/*
Needs HEAVY fixing!!!
TODO: fix grayscale, size, position
*/ 
div.emojiButton{
    background-image: url(/assets/emoji.png);
    position: absolute;
    height: 50%;
    margin-left: 5%;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: block;
    background-position: -22px -66px;
    background-size: 242px 110px;
    transform: scale(1);
    filter: grayscale(100%);
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

div.textExtras {
    padding: 6px; 
    width: 15%; 
    position: absolute;
    left: 84%;
    top: 5px;
    display: inline-block;
    margin-right: 0.1%; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
    outline: none; 
    border: none; 
    height: 27.5px;
    background-color: #1B1E23; 
    color: white; 
}

div.messageBody{
    margin-left: 2px;
}

form button { 
    width: 4.5%; 
    background: rgb(130, 224, 255); 
    border: none; padding: 10px; 
    font-size: 16px; 
    border-radius: 4px; 
    outline: none; 
}

div.name{
    color: #7289DA;
    font-size: 16px;
    margin-bottom: 5px;
}

div.message{
    font-size: 18px;
}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #1B1E23; 
    margin-bottom: 2px;
    border-radius: 4px;
    margin-left: 6px;
    width: 98%;
}

.messagelist{
    width: 85%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.text{
    position: absolute;
    top: 25%; left: 0; bottom: 0; right: 0;
    margin-top: 0;
    margin: auto;
}

input.name{
    background-color: #4f4f4f;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 20px;
    padding: 4px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 250px;
    text-align: center;
}

div.chooseName{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 175px;
    width: 300px;
    background-color: #2c2c2c;
    border-radius: 4px;
    z-index: 500;
}

.system{
    color: green;
    font-size: 15px;
}

.error{
    color: red;
}

label.name{
    color: white;
    position: absolute;
    top: 20%;
    left: 8%;
}

button.name{
    position: absolute;
    top: 70%;
    left: 8%;
    background-color: #4f4f4f;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    width: 247px;
    color: white;
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
    margin-right: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #171A1F; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    width: 4%;
    background: #1B1E23; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1B1E23; 
  }
